@model IEnumerable<Product>
@{
    ViewBag.Title = "Home Page";
}


<div id="demo" class="carousel slide container mt-3" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
        <li data-target="#demo" data-slide-to="4"></li>
    </ul>
    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Images/pexels-bess-hamiti-35188.jpg" />
        </div>
        <div class="carousel-item">
            <img src="~/Images/pexels-dom-j-45982.jpg" />
        </div>
        <div class="carousel-item">
            <img src="~/Images/pexels-mentatdgt-1336873.jpg" />
        </div>
        <div class="carousel-item">
            <img src="~/Images/pexels-mica-asato-1082528.jpg" />
        </div>
        <div class="carousel-item">
            <img src="~/Images/pexels-anh-khac-6318739.jpg" />
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>
<div>

<h4 class="d-block bg-dark text-light px-3 pb-1 mt-3">Menz</h4>
</div>
<div class="row mt-1">

    @foreach (var item in Model.Where(m => m.CatagoryID == 1))
    {
        <div class="col-md-2" id="cardDiv">
            <div class="card mr-md-1 mb-sm-2 shadow-sm bg-white rounded">
                <img class="card-img-top" src="@Url.Content(item.Images)" alt="Card image">
                <div class="card-body">
                    <h5 class="card-title">@item.ProductName</h5>
                    <p class="card-text">@item.Price</p>
                    <input type="hidden" name="ProductID" value="@item.CatagoryID" />
                    @*<a href="/Home/ProductDetails" class="btn btn-sm btn-primary stretched-link" data-toggle="modal" data-target=".bd-example-modal-lg">See Details</a>*@
                    @Html.ActionLink("See Details", "ProductDetails","Home",new { ProductID = item.ProductID }, new {@class = "btn btn-sm btn-primary stretched-link" })
                </div>
            </div>
        </div>
    }


    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    <h4 class="d-block bg-dark text-light px-3 pb-1 mt-3">Womenz</h4>
</div>
    <div class="row mt-1">
        @foreach (var item in Model.Where(m => m.CatagoryID == 2))
        {
            <div class="col-md-2" id="cardDiv">
                <div class="card mr-md-1 mb-sm-2 shadow-sm bg-white rounded">
                    <img class="card-img-top" src="@Url.Content(item.Images)" alt="Card image">
                    <div class="card-body">
                        <h5 class="card-title">@item.ProductName</h5>
                        <p class="card-text">@item.Price</p>
                        <a href="#" class="btn btn-sm btn-primary stretched-link">See Details</a>
                    </div>
                </div>
            </div>
        }
    </div>

<script>
    $(document).ready(function () {
        console.log("document is ready");


        $(".card").hover(
            function () {
                $(this).addClass('shadow-lg').css('cursor', 'pointer');
            }, function () {
                $(this).removeClass('shadow-lg');
            }
        );
    });
</script>