@model List<Catagory>
@{
    ViewBag.Title = "Catagory List";
}

<h2>Catagory List</h2>
@Html.ActionLink("Create", "Create","Catagory","", new {@class = "btn btn-primary" })
<table class="table table-bordered table-condensed table-striped table-hover">
    <thead>
        <tr>
            <th>Catagory ID</th>
            <th>Name</th>
            <th>IsActive</th>
            <th>IsDelete</th>
            <th>Action</th>
        </tr>
    </thead>


    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CatagoryID</td>
            <td>@item.Name</td>
            <td>@item.IsActive</td>
            <td>@item.IsDelete</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { item.CatagoryID, @class = "btn btn-info" })
                @Html.ActionLink("Delete", "Delete", new { item.CatagoryID, @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>
