@model  IEnumerable<Product>
@{
    ViewBag.Title = "ProductList";
}


<div id="ProductTableContainer">
    <table>
        <thead>
            <tr>
                <th>ProductID</th>
                <th>ProductName</th>
                <th>CatagoryID</th>
                <th>ShortDescription</th>
                <th>LongDescription</th>
                <th>Price</th>
                <th>Weight</th>
                <th>Images</th>
                <th>Stock</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductID</td>
                <td>@product.ProductName</td>
                <td>@product.CatagoryID</td>
                <td>@product.ShortDescription</td>
                <td>@product.LongDescription</td>
                <td>@product.Price</td>
                <td>@product.Weight</td>
                <td>@product.Images</td>
                <td>@product.Stock</td>
                <td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { product.ProductID }, new { @class = "editProductBtn", id = "editProductBtn" })
                    @Html.ActionLink("Delete", "Delete", new { product.ProductID }, new { @class = "deleteProductBtn", data_toggle = "modal", data_target = "#deleteProductBtn" })
                    @*<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteProductBtn">
                            Dlt
                        </button>*@
                </td>
            </tr>
        }

    </table>
    <!-- Modal -->
    <div class="modal fade" id="deleteProductBtn" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Delete Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @*@{Html.RenderPartial("_Delete");}*@
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-danger" name="" value="Delete" />
                </div>
            </div>
        </div>
    </div>
</div>



